pipeline:
  name:
    ground_truth_labels

  components:
    - name: sentence_embedding
      parameters:
        model_path:
          all-MiniLM-L6-v2

    - name: embedding_similarity
      parameters:
        embedding_feature:
          embedding
    
    - name: ramdom_sampler
      parameters:
        n: 0.1

    - name: ground_truth_labeler
    
    - name: gml_visualizer
      parameters:
        output_file:
          labeled

    - name: gcn_propagator
      parameters:
        epochs:
          500
        patience:
          5
        
    - name: gml_visualizer
      parameters:
        output_file:
          propagated