accelerate==1.12.0
codecarbon==3.2.2,
datasets==4.5.0
matplotlib==3.10.8
numpy==2.2.6
pandas==3.0.0
scikit-learn==1.8.0
scipy==1.17.0
sentence-transformers==5.2.2
torch==2.8.0
torch-geometric==2.7.0
torch_cluster==1.6.3
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_spline_conv==1.2.2
torchaudio==2.8.0
torchvision==0.23.0
transformers==4.57.6
vllm==0.11.0